<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width"/>
        <title>Twitter friends</title>
    </head>
    <body>
<h1>Register twitter user</h1>
<form action="/map" method="post">
    <input name="twit" placeholder="Twitter nickname" type="text"/>
    <input name="consumer_key" placeholder="Consumer key" type="text"/>
    <input name="consumer_key_secret" placeholder="Secret consumer key" type="text"/>
    <input name="access_token" placeholder="Access Token" type="text"/>
    <input name="access_token_secret" placeholder="Secret Access Token" type="text"/>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>
